AFQ/version.py
*.pyc
*.ipynb_checkpoints
.coverage*
docs/_build
docs/build
docs/auto_examples
docs/source/auto_examples
docs/source/usage/config.rst
examples/**/*.nii.gz
examples/**/*.trk
examples/**/*.npy
examples/**/*.png
build
dist
.DS_Store
**.sw?
**Untitled.ipynb
pip-wheel-metadata
pyAFQ.egg-info
