scikit_image==0.14.0
nibabel==2.5.1
dipy==1.0.0
numpy==1.15.4
scipy==1.1.0
pandas==0.23.4
joblib==0.12.4
dask==1.1.0
palettable==3.1.1
cloudpickle==0.5.5
toolz==0.9.0
boto3==1.10.16
s3fs==0.2.0
tqdm==4.32.2
six==1.12.0
python-dateutil==2.8.0
toml==0.10.0
setuptools_scm[toml]==3.4.3
popylar==0.2
