tbody, tr, td
{
    border: 0 !important;
    height: 100%;
    width: 100%;
}

.sd-card {
    margin-bottom: 20px
}

.sd-card-header {
    text-align: center;
    background-color: white;
    color: #150458 !important;
    font-size: var(--pst-font-size-h5);
    font-weight: bold;

}

.sd-card-footer {
    display: none;
}

.top-image {
    float: left;
    width: 25%;
    height: 100%;
}

.bottom-image {
    float: right;
    width: 25%;
    height: 100%;
    clear: left;
}

.right-arrow {
    float: left;
    width: 10%;
}

.left-arrow {
    float: right;
    width: 10%;
}

.reference.internal.image-reference {
    margin-left: 20%;
}

